{% extends "admin/change_list.html" %}

{% block extrahead %}
  {{ block.super }}
  <style type='text/css' rel='stylesheet'>
    #result_list {
      white-space: nowrap;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .row > img {
      margin-right: 4px;
    }
  </style>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/ko.min.js'></script>
  <script type='text/javascript'>
    django.jQuery(document).ready(function() {
      let refreshCount = 0

      django.jQuery('.refresh-counter').html(`${ 60 - refreshCount } 초 후 새로고침`)

      setInterval(
        () => {
          refreshCount++

          if(refreshCount === 60) {
            location.reload()
          }

          django.jQuery('.refresh-counter').html(`${ 60 - refreshCount } 초 후 새로고침`)
        },
        1000
      )

      const now = moment()
      const lists = django.jQuery('#result_list tbody tr')

      for(const list of lists) {
        const elapsedTimeElement = django.jQuery(list).children('.field-elapsed_time')
        const elapsedTime = elapsedTimeElement.html()

        if(elapsedTime === '-') {
          continue
        }

        const elapsedTimeMoment = moment(elapsedTime)
        elapsedTimeElement.html(elapsedTimeMoment.fromNow())
      }
    })
  </script>
{% endblock %}

{% block content %}
  <span class='refresh-counter'>
    -
  </span>
  {{ block.super }}
{% endblock %}
